		body {
            background-image: url(https://raw.githubusercontent.com/robrollner/week-4-game/master/assets/images/background-image.jpg);
        }

        #Header {
            background-color: #cfe2e7;
        }

        #instructions {
            background-color: #eea99b;
        }

        #cpuRandomNumber {
            background-image: url(https://raw.githubusercontent.com/robrollner/week-4-game/master/assets/images/headerImage.jpg);
            height: 150px;
            width: 150px;
            text-align: center;
            color: #f51438;
            font-size: 75px;
            font-weight: bolder;
        }

        #winLoss {
            height: 150px;
            width: 125px;
            background-color: white;
        }

        #crystalButtons {
                    
        }

        #scoreMessage {
            height: 150px;
            width: 125px;
            background-color: green;
        }

        #score {
        	height: 150px;
            width: 125px;
            background-color: blue;
        }